
/Date_Infinite_rep/Trained_models/
Date_Infinite_rep/bad_habits_loss/loss_old1/Distortion score, label, exercise: squats, w01.png
/Date_Infinite_rep/training_plots_backup/
/Date_Infinite_rep/bad_habits_vids/
